.btncamara {
    position: relative;
    left: 40%;
}

.cam{
    position: relative;
    left: 40%;
    font-size: 30px;
    border-bottom: black;
    border-radius: 20%;
    border-color: black;
}

.img-cam{
    position: relative;
    left: 20%;
    border-radius: 10px !important;
}

.divcam{
//     position: relative;
//     left: 40px;
//     width: 50%;
//     border-top: black;
    border-radius: 20px;
//     background-position: left 60px;
     background-color: chocolate;
 }

 .divcamara {
     position: relative;
     left: 30%;
     width: 40%;
     background-color: coral;
     border-radius: 10px;
 }