<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Asistencia Mediante QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divcamara">
<p class="cam">Camara </p>
</div>
<div class="divcam">
<img src="../../assets/camara/d0f766bbe2603124417ed31d027b14c8-icono-de-camara-o-logotipo.png" weight= 80px style="border-radius: 10px;" class="img-cam" >
</div>
<!-- <button [routerLink]="['/abrir-camara']" class="btncamara" style="background-image:url('../../assets/camara/d0f766bbe2603124417ed31d027b14c8-icono-de-camara-o-logotipo.png'); background-size:cover " >Desplegar Camara</button> -->
<ion-button [routerLink]="['/abrir-camara']" class="btncamara">Desplegar Camara</ion-button>

</ion-content>
