<ion-header>
  <ion-toolbar>
    <img src="../../assets/splash-screen/duocfeo.png" >
   </ion-toolbar>
  <ion-toolbar>
    <ion-title>Datos de Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4 class="lblnombre">Carrera</h4>
<h4 class="lblnombre">Ingeniería en Informatica</h4>


  <h4 class="lblnombre">Nombre Estudiante</h4>
<h4 class="lblnombre">McLovin</h4>

<h4 class="lblnombre">Dirección</h4>
<h4 class="lblnombre">892 MOMONA ST</h4>
<h4 class="lblnombre">HONOLULU, HI 96820</h4>
<h4 class="lblnombre">Correo Electronico</h4>
<h4 class="lblnombre">iAmMcLovin@hotmail.com</h4>

</ion-content>
