<ion-header>
  <ion-toolbar>
    <img src="../../assets/splash-screen/duocfeo.png" class="imgsrc" >
   </ion-toolbar>
</ion-header>

<ion-content>
  
  <p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ<img src="../../assets/splash-screen/registrapp.png" > </p>
  <h4>


  </h4>
  
<img src="../../assets/alumnos/mclovin.png" width="70 px" class="mclovin">
<h1>ㅤㅤㅤㅤㅤㅤ</h1>
<h4 class= "h4">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ Bienvenido, Alumno</h4>
 

  <h1> ㅤㅤㅤㅤㅤㅤㅤㅤㅤ ㅤㅤㅤㅤㅤ

<img src="../../assets/splash-screen/ID67346.png" class="entrar" >
     <button [routerLink]="['/login']" class= "btn-splash" >Acceder </button> </h1>

</ion-content>
