<ion-header>
  <ion-toolbar>
    <img src="../../assets/splash-screen/duocfeo.png" class="pngsplash" slot="start">
    <button [routerLink]="['/splash']" class="btnvolver" slot= "start">Volver</button>
    <h1>ㅤㅤㅤㅤㅤㅤ</h1>
    <h1>ㅤㅤㅤㅤㅤㅤ</h1>
    <h1>ㅤㅤㅤㅤㅤㅤ</h1>
    
   </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class="mcl">MCLOVIN</h1>
  <img src="../../assets/alumnos/mclovin.png" class= "MC" >  
 
 <ion-grid>
   <ion-row>
     <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
       
      <div class="titulo" > <ion-button [routerLink]="['/datos']" class="cuadros">Asistencia</ion-button> </div> 
     </ion-col>
     <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <div class="titulo">  <ion-button [routerLink]="['/camara']" class="cuadros">Registrar Asistencia</ion-button> </div>
    </ion-col>
   </ion-row>
   <ion-row>
   <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
    <div class="titulo"> <ion-button [routerLink]="['/datos-estudiante']" class="cuadros" >Datos Estudiante</ion-button>  </div>
  </ion-col>
  <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
    
    <div class="titulo"><ion-button [routerLink]="['/mi-asistencia']" class="cuadros">Mi Asistencia</ion-button>  </div>
 </ion-col>
 <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
    
  <div class="titulo"><ion-button [routerLink]="['/estudiantes']">Lista Asistencia</ion-button>  </div>
</ion-col>
</ion-row>
 </ion-grid>
 
 

</ion-content>
